<header>
  <div class="container">
    <div class="logo">
      <a href="<%= paths.index %>">Soundify</a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="<%= paths.users %>">Users</a>
        </li>
        <li>
          <a href="<%= paths.artists %>">Artists</a>
        </li>
        <li>
          <a href="<%= paths.albums %>">Albums</a>
        </li>
        <li>
          <a href="<%= paths.about %>">About</a>
        </li>
        <% if (locals.currentUser) { %>
          <li>
            <a href="<%= paths.profilePath %>">My Profile</a>
          </li>
          <li>
            <form action="<%= paths.destroySession %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Log Out" />
            </form>
          </li>
        <% } else { %>
          <li>
            <a href="<%= paths.newSession %>">Log In</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
