<a href="/">Back</a>
<h2>Artists</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Genres</th>
      <th>Formed At</th>
      <th>Members</th>
      <th>Albúm 1</th>
      <th></th>
    </tr>
    <tbody>
      <% artists.forEach((artist) => { %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= artist.origin %></td>
          <td><%= artist.genres %></td>
          <td><%= artist.formedAt %></td>
          <td><%= artist.members %></td>
          <% if (artist.albums.length) { %>
            <td><%= artist.albums[0].name%></td>
          <% } else { %>
            <td> No albums </td>
          <% } %>
          <td><a href="<%= artistPath(artist.id) %>">View more</a></td>
        </tr>
      <% }) %>
    </tbody>
  </thead>
</table>
<a href="<%= newArtistPath %>">New artist</a>
