<a href="<%= artistsPath %>">Back</a>
<h2>Artist: <%=artist.name %></h2>
<h3>Origin: <%= artist.origin %></h3>
<h3>Genres: <%= artist.genres %></h3>
<h3>Formed at: <%= artist.foundedIn %></h3>
<% if (artist.members) { %>
<h3>Members: <%= artist.members %></h3>
<% } %>
<h3>Albums</h3>

<ul class="albums">
  <% albums.forEach((album) => { %>
    <li>
      <h4><%= album.name %></h4>
      <img src="<%= album.cover %>" alt="<%= album.name %>, album from <%= artist.name %>" />
    </li>
  <% }) %>
</ul>
